
  
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
	<center>
        <img class="img-responsive img-center" src="http://i0.wp.com/dutchbikeshop.ie/wp-content/uploads/wp-checkout/images/gazelle-puurnl-gents-bike-eclipse-black-1468582961.jpg" alt="">
    </center>
	</header>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">About Us</h1>
                    <p class="lead section-lead">We are a small, college run bike company.</p>
                    <p class="lead section-lead">Please use the search bar to look for parts.</p>
					<p class="section-paragraph">We allow customers to purchase bikes, have our mechanics look at repairs and genreally manage the site. Using our navagation bar will allow you to use the site to go through the website.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">GitHub Link for Kevin O'Dwyer (kod459)</h1>
                    <p class="lead section-lead"><a href ="https://github.com/kod459/bikeshop"> Please click here!</p>
                    </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>